*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(199, 220, 167); */
    background:url('./pexels-aaditya-arora-592753.jpg') ;
    background-size: cover;
    /* padding-top: 50px; */
    padding-top: 5px;
    color: rgb(51, 92, 81);
}
.home>h1{
    letter-spacing: 3px;
    word-spacing:1px;
    color: white;
    font-weight: 900;
    font-size: 50px;
    /* background-color: white; */
    /* margin-top: -0px; */
    /* display: inline-block; */
    text-align: center;
    /* height: 60px; */
    /* padding: 10px; */
}
.home>div{
    height: 250px;
    width: 300px;
    background-color:rgb(233, 175, 121);
    margin: 120px auto;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid rgb(249, 247, 247);
}
.home>div>label{
    height: 40px;
    letter-spacing: 1px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: -40px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(116, 17, 17);
}
.home>div>input{
    height: 40px;
    width: 55%;
    margin: 0 auto;
    border-radius: 5px;
    color: rgb(51, 92, 81);
    font-weight: 700;
    font-size: 18px;
    border: none;
    text-align: center;
}
.home>div>input:focus{
    outline: none;
}
.home>div>button{
    margin: 0 auto;
    border-radius: 50px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
    background-color:white;
    color: rgb(116, 17, 17);
    transition-duration: 0.5s;
    border: none;
    cursor: pointer;
}
.home>div>button:hover{
    background-color: rgb(116, 17, 17);
    color: white;
    transform: scale(1.1);
}
.india{
    text-align: center;
    margin-top: 8git commit -m "first commit"0px;
    color:yellow;
    font-size: large;
    letter-spacing: 2px;
    /* background-color: yellow; */
    display: inline-block;
    width: 100%;
}